<h3>USERNAME : <input type="text" (keyup)="changeusername($event)" placeholder="username" [value] = username/></h3>
<h3>PASSWORD : <input type="text" (keyup)="changepassword($event)" placeholder="password" [value] = password/></h3><br/>
<button (click)="onsave()">save</button>
<button (click)="onclear()">clear</button>
<table *ngIf="flag">
  <tr>
    <td>USERNAME</td>
    <td>PASSWORD</td>
  </tr>
  <tr *ngFor = "let user of users">
    <td>{{user.username}}</td>
    <td>{{user.password}}</td>
  </tr>
</table>
